body, html{
    font-family: 'Lato', sans-serif;
	background: #fff;
}
h1{
    font-family: 'Marcellus SC', serif;
	color: #FFE658;
	text-align: center;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.3vw;
}

.nav>li {
    list-style: none;
    padding-right:50px;
}
.nav li a{
	text-decoration: none;
	color: #252525;
    z-index: 999;
    position: relative;
}
.over h1{
	text-decoration :none;
	position: relative;
	z-index: 999;
}
.over a{
	text-decoration :none;
	position: relative;
	z-index: 999;
}
.container {
  width: 20%;
  margin: 10px auto;
  position: relative;
  z-index: 9999;
}
#particles-js {
	position: absolute;
    height: 300%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("");
    top: 0;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FFE658;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
@media screen and (max-width: 760px){
    h1{
        font-size: 25px;
        padding-top: 25px;
    }
    .nav{
		font-size:12px;
    }
}